<%- include('../partials/boilerplate.ejs') %>
<div>
<h3>NAME: <%= team.name %></h3>
<p>WIN: <%= team.win %></p>
<p>LOSS: <%= team.loss %></p>

<form method="POST" action="/teams/<%=team.id %>?_method=DELETE">
    <input type="submit" value="delete this game">
</form>

<a href="/teams" class="buttonlike">Back to teams</a>
</div>

<%- include('../partials/end.ejs') %>