<%- include('../partials/boilerplate.ejs') %>
<div>
<h3>NAME: <%= team.name %></h3>
<p>WIN: <%= team.win %></p>
<p>LOSS: <%= team.loss %></p>

<a href="/teams">Back to the teams</a>
</div>

<%- include('../partials/end.ejs') %>