<%- include('../partials/boilerplate.ejs') %>
<div class="team-box">
    <div class="team-stats">
        <h3>NAME: <%= team.name %></h3>
        <p>WIN: <%= team.win %></p>
        <p>LOSS: <%= team.loss %></p>
    </div>
    <div class="team-delete">
        <form method="POST" action="/teams/<%=team.id %>?_method=DELETE">
            <input type="submit" value="delete this game">
        </form>
        <a href="/teams" class="buttonlike">Back to teams</a>
    </div>



</div>

<%- include('../partials/end.ejs') %>